@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-4 p-4">
    <h1 class="display-4">Mi Sitio</h1>
    <img class="rounded-circle w-25" src="~/img/ramiro.jpg" alt="Mi Imagen">
    <h3 class="text-body-tertiary">- Herrera Ramiro Gabriel -</h3>

</div>
