html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.targeta{
  width: 280px !important;
}
.cont-columnas{
  height: 75vh;
}
.scroll-horizontal {
  overflow-x: auto;
  white-space: nowrap; /* Evita el salto de línea */
}
.wrap{
  white-space: wrap !important;
}
.scroll-vertical {
  max-height: 90%; /* Altura máxima del contenedor */
  overflow-y: auto; /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
}
.EditDelete{
  width: 46%;
}